.CircleBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CircleBackground__One {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .CircleBackground__One {
  width: 76%;
  height: 100%;
}
.CircleBackground__Two {
  width: 76%;
  height: 100%;
} */
