.ProfileGeneralInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  gap: 66px;
  padding-bottom: 30px;

  font-family: "DM Sans", sans-serif;
  font-style: normal;
}
.ProfileGeneralInfo__Image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.ProfileGeneralInfo__Block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ProfileGeneralInfo__Block__name {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #000000;
}
.ProfileGeneralInfo__Block__login {
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #6f6c90;
}
.ProfileGeneralInfo__Block__dateOfRegistration {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
}
.ProfileGeneralInfo__Block__about {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
}
.ProfileGeneralInfo__Buttons {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.ProfileGeneralInfo__Logout {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  cursor: pointer;
}
.ProfileGeneralInfo__Button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 60px;
  background: #4a3aff;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  color: #ffffff;
}
