.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4a3aff;
}
.Header__Actual {
  width: 1400px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
