.HeaderLogo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  text-decoration: none;
}
.HeaderLogo img {
  width: 44px;
  height: 49px;
}
.HeaderLogo__Title {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
}
