.Blog {
  font-family: "DM Sans", sans-serif;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 118px;
  padding-bottom: 118px;
  z-index: 1;
  gap: 50px;
}
.BlogTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #170f49;
}
.BlogList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
}
